.searchForm {
    /* width: 20rem; */
    background: var(--clr-white);
    border: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 2rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
